---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { FormattedDate } from "../components";

import MainLayout from "../layouts/MainLayout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, heroImage } = Astro.props;
---

<MainLayout title={title} docTitle={title} docDescription={description} showNav={true}>
  <article class="padded-container article prose mx-auto prose-pre:rounded-sm prose-pre:bg-slate-200 prose-pre:p-1">
    <h1 class="page-title mb-2">{title}</h1>
    <h4>{description}</h4>

    <FormattedDate date={pubDate} class="text-sm" />
    {
      heroImage && (
        <Image
          class="no-padding my-12 max-h-[400px] object-cover shadow-sm md:rounded-lg lg:max-h-[300px] lg:rounded-lg"
          src={heroImage}
          alt={description}
          width={1200}
          height={1200}
          format="webp"
        />
      )
    }
    {!heroImage && <hr />}
    <div class="article-content">
      <slot />
    </div>
  </article>
</MainLayout>
